<nav class="navbar navbar-expand-sm gradient-purple">
  <div class="container">
    <p class="navbar-brand ml-2"><img src="/img/logo.png" alt="" width="125"></p>
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link text-white" href="/"><i class="fas fa-home"></i> Início</a>
      </li>
      <li class="nav-item">
      <a class="nav-link text-white" href="/avisos"><i class="fas fa-list"></i> Meus Avisos</a>
      </li>
      <li class="nav-item">
      <a class="nav-link text-white active" href="/avisos/novo"><i class="fas fa-plus-circle"></i> Novo Aviso</a>
      </li>
    </ul>
  </div>
</nav>